/* #region Sobre nosotros */
/* box model */
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url('../../img/nosotros.jpg');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    
}
.sobre-nosotros-contenedor {
    max-width: 230rem;
    /* para centrar hay dos formas 
    margin: 0 auto;
    o la nueva
    */
    margin-inline: auto;
}

/* 
* Se usa flexbox para posicionar contenido dentro de un contenedor
* Se usa grid para posicionar contenedores
*/
.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
     
    usualmente no se usa padding en grid solo se usa gap
    
    gap: 4rem; */
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #e1e1e1;
    /* grid-column: 2/3; */
}

/* #endregion Sobre nosotros */