/* #region globales */
html {
    /* 
    Cuando agregamos padding o margin a un elemento, el tamaño de este se incrementa
    */
    box-sizing: border-box;
    /* 
    Equivale a 1 rem equivale a 10px
    */
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    /* 
    interlineado entre el texto */
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;

}

img {
    max-width: 100%;
    display: block;
}

/* #endregion globales */

/* box-sizing: border-box; */
/* hace que el padding se ajuste a los 200 px del width y no hace que el componente e general aumente el size */
/* contend-box  hace que se sume el contenido, el width  y el padding; */
/* 
El padding crea una distancia entre el contenido y las orillas 
Se utiliza cuando el color de fondo es importante en la caja
*/
/*
margin de la orilla hacia afuera
*/

/* #region  Header */
/* Eliminar la decoración de los links  */
a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    /* para centrar hay dos formas 
    margin: 0 auto;
    o la nueva
    */
    margin-inline: auto;
}

/* border-color: #000;
    border-top-style: solid;
    border-width: 1px; */
.contenedor-navegacion {

    border-top: .1rem solid #e1e1e1;

}

/* Agregar borde en el top */
.nav-principal {

    /* Se usa como las manecillas del reloj  */
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    /*  la ubicacion a la imagen es relatva a la carpta de css */
    background-image: url('../img/principal.jpg');
    height: 55rem;
    /* Por defect  las imagenes de fondo se repiten */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

/* #endregion  Header */

h1 {
    color: #000;

    span {
        color: #037bc0;
    }
}



.categorias {
    padding-top: 5rem;

    h2 {
        text-align: center;
    }
}



/* #region Listado categorías */
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categoria {
    a {
        display: block;
        text-align: center;
        padding: 2rem;
        border-bottom-right-radius: 1rem;
        font-size: 2rem;
    }

    a:hover {
        background-color: #037bc0;
        color: #e1e1e1;
    }
}

/* #endregion Listado categorías */
/* #region Sobre nosotros */
/* box model */
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
}

.sobre-empresa {
    background-color: blue;
    width: 50rem;
    padding: 5rem;
}

/* #endregion Sobre nosotros */