
/* #region Productos */
.contenido-principal {
    padding-top: 5rem;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #e1e1e1;
    padding: 2rem;

    p {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

  

    .precio {
        font-size: 2.8rem;
        color: #e1e1e1;
        font-weight: 900;
    }
}



/* #endregion Productos */