/* border-color: #000;
    border-top-style: solid;
    border-width: 1px; */
.contenedor-navegacion {

    border-top: .1rem solid #e1e1e1;

}

/* Agregar borde en el top */
.nav-principal {
    /* Se usa como las manecillas del reloj  */
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}